body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #88b8df;
    color: #333;
}



/* General navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c2a2a63;
    padding: 10px 20px;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    margin: 0;
    font-size: 40px;
}

.navbar-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-menu li,
.navbar-menu form {
    margin: 0 10px;
}

/* Styling for the link and button to look the same */
.navbar-menu a,
.navbar-menu button {
    display: inline-block;
    background-color: #555;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.navbar-menu a:hover,
.navbar-menu button:hover {
    background-color: #777;
}

/* Ensuring the button looks like a link */
.navbar-menu button {
    cursor: pointer;
}

.navbar-menu form {
    display: inline;
}



.form-inline {
    display: flex;
}

.form-control {
    margin-right: 10px;
}

.profile-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    text-align: center;

}

h2 {
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
}
